elpa
backups
auto-save-list
places
.smex-items
bookmarks
url
ac-comphist.dat
semanticdb/
ac-comphist.dat
ac-comphist.dat
xkcd/
var/
/session.27a38967f-9012-4889-8c7d-ee2e4b05d130
/var/pcache/gh/gh-gist-api/LeoAdamek
/projectile-bookmarks.eld
/projectile.cache
